body{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    margin:0;
    padding:0;
}

@media screen and (max-width:2560px){
    body{
        background-color:aquamarine;
    }
}

@media screen and (max-width:768px){
    body{
        background-color:rgb(185, 138, 67);
    }
}

@media screen and (max-width:425px){
    body{
        background-color:rgb(46, 224, 73);
    }
}